*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.btn{
    border-radius: 0 !important;
}

.VueCarousel-slide{
    max-width:450px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}